<div class="poster_wrapper">
  <form [formGroup]="editForm" (ngSubmit)="editAdv()">
    <span class="poster_input_title">Edytuj Ogłoszenie</span>
    <input type="text" class="poster_input_text" placeholder="Tytuł ogłoszenia" formControlName="title"/><br/>
    <select class="poster_select" formControlName="category">
      <option selected disabled>Kategoria</option>
      <option value="1">Android</option>
      <option value="2">C++</option>
      <option value="3">IOS</option>
      <option value="4">Objective-C</option>
      <option value="5">Assembler</option>
      <option value="6">Delphi/Object Pascal</option>
      <option value="7">Java</option>
      <option value="8">PHP</option>
      <option value="9">C</option>
      <option value="10">GO</option>
      <option value="11">Javascript</option>
      <option value="12">PL/SQL</option>
      <option value="13">C#</option>
      <option value="14">HTML/CSS</option>
      <option value="15">Matlab</option>
    </select>
    <div class="poster_textarea_wrapper">
      <textarea class="poster_textarea" placeholder="Opis ogłoszenia" formControlName="description"></textarea>
    </div>
    <select class="poster_select_hours" id="poster_hours_select_input" formControlName="salaryType">
      <option selected disabled>Wynagrodzenie</option>
      <option value="monthly">Miesięczne</option>
      <option value="hourly">Godzinowe</option>
    </select>
    <input type="text" class="poster_input_hours" id="poster_hours_text_input" placeholder="" formControlName="salary"/><br/>
    <button type="submit" class="poster_btn_container">WYŚLIJ OGŁOSZENIE</button>
  </form>
</div>
