<div class="container">
  <div class="main_container">
    <div class="forms_container">
      <div class="content">
        <strong> Zmiana hasła</strong>

        <div *ngIf="success.messages">
          <p class="success-messages">{{ success.messages.join('. ') }}</p>
        </div>

        <div *ngIf="error.messages">
          <p class="error-messages">{{ error.messages.join('. ') }}</p>
        </div>

        <form (submit)="handleChangePassword()">
          <div class="info_inputs">
            <input type="password" class="input_form" placeholder="Stare hasło" name="oldPassword" [(ngModel)]="oldPassword" />
            <div *ngIf="error.oldPassword">
              <p class="error">{{ error.oldPassword.join('. ') }}</p>
            </div>

            <input type="password" class="input_form" placeholder="Nowe hasło" name="newPassword" [(ngModel)]="newPassword" />
            <div class="" *ngIf="error.newPassword">
              <p class="error">{{ error.newPassword.join('. ') }}</p>
            </div>
          </div>
          <div class="btn_container">
            <button class="btn">Zapisz</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
