<div class="container">
  <h2>Lista administratorów</h2>
    <div class="btn add-btn" routerLink="add" *ngIf="!handlingEditing" (click)="handlingEditing = true">
        <i class="fa fa-plus" aria-hidden="true">
      <span class="add-span">
          <a >Dodaj administratora</a>
      </span>
    </i>
    </div>
    <div class="btn add-btn" routerLink="../admin" *ngIf="handlingEditing" (click)="handlingEditing = false">
        <i class="fa fa-plus" aria-hidden="true">
      <span class="add-span">
          <a >Dodaj administratora</a>
      </span>
    </i>
    </div>
    <router-outlet></router-outlet>
  <table id="ads-list">
    <thead>
    <tr>
      <th scope="col">
        Id
      </th>
      <th scope="col">
        Id użyt.
      </th>
      <th scope="col">
        Imię
      </th>
      <th scope="col">
        Nazwisko
      </th>
      <th scope="col">
        Uprawnienie
      </th>
      <th scope="col">
        Edytuj
      </th>
      <th scope="col">
        Usuń
      </th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let admin of adminsList | paginate: { itemsPerPage: 10, currentPage: p }">
      <td class="admin-id">
        {{admin.id}}
      </td>
      <td class="user-id">
        {{admin.userId}}
      </td>
      <td class="admin-firstname">
        {{admin.firstName}}
      </td>
      <td class="admin-lastname">
        {{admin.lastName}}
      </td>
      <td class="admin-permissionname" *ngIf="!admin.edited">
        {{admin.permission.name}}
      </td>
      <td class="admin-permissionname" *ngIf="admin.edited">
        <select [(ngModel)]="newAdminPermissionId" name="permission">
          <option *ngFor="let perm of permissionsList" [value]="perm.id">{{perm.name}}</option>
        </select>
      </td>
      <td class="edit">
        <div *ngIf="!admin.edited && admin.id != 1" class="btn" [ngClass]="{'not-allowed': handlingEditing}" (click)="handleEdit(admin)">
          <i class="fa fa-pencil" aria-hidden="true">
              <span class="delete-span">
              Edytuj
              </span>
          </i>
        </div>
        <div *ngIf="admin.edited" class="btn" (click)="editPermission(admin)">
          <i class="fa fa-pencil" aria-hidden="true">
              <span class="delete-span">
              Zatwierdź
              </span>
          </i>
        </div>
      </td>
      <td class="delete">
        <div *ngIf="!admin.edited && admin.id != 1" class="btn" [ngClass]="{'not-allowed': handlingEditing}" (click)="deleteAdmin(admin)">
          <i class="fa fa-times" aria-hidden="true">
              <span class="delete-span">
              Usuń
              </span>
          </i>
        </div>
        <div *ngIf="admin.edited" class="btn" (click)="handleCancel(admin)">
          <i class="fa fa-times" aria-hidden="true">
              <span class="delete-span">
              Anuluj
              </span>
          </i>
        </div>
      </td>
    </tr>
    <tr *ngIf="!adminsList">
      <td colspan="7"> {{messages}} </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
          *ngIf="adminsList"
          class="my-pagination"
          (pageChange)="p = $event"
          autoHide="true"
          previousLabel="Poprzednia"
          nextLabel="Następna">
  </pagination-controls>
</div>
