<div class="container">
  <h2>Edytuj uprawnienia</h2>
  <form (ngSubmit)="onSubmit()" #editForm="ngForm">
    Nazwa uprawnienia: <br/>
    <input type="text"
           required
           [(ngModel)]="permission.name"
           name="permissionName"
           #name="ngModel"/>
    <div class="error" [hidden]="name.valid || name.pristine">
      Nazwa jest wymagana
    </div>
    <table id="ads-list">
      <thead>
      <tr>
        <th scope="col">
          Id
        </th>
        <th scope="col">
          nNazwa
        </th>
        <th scope="col">
          Opis
        </th>
        <th scope="col">
          Czy posiada
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let action of actionList">
        <td class="action-id">
          {{ action.id }}
        </td>
        <td class="action-name">
          {{ action.name }}
        </td>
        <td class="action-desc">
          {{ action.description }}
        </td>
        <td class="action-name">
          <input type="checkbox" [checked]="action.checked" (change)="action.checked = !action.checked"/>
        </td>
      </tr>
      <tr *ngIf="!actionList">
        <td colspan="4">
          {{messages}}
        </td>
      </tr>
      </tbody>
    </table>
    <span class="cat-input">
        <input type="submit" class="btn add-btn" value="Zapisz zmiany"
               [ngClass]="{'not-allowed': !editForm.form.valid}"
               [disabled]="!editForm.form.valid" />
      </span>
  </form>
</div>
