<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Moje dane</strong>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <strong>Imię</strong>
            <p>{{ firstName }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <strong>Nazwisko</strong>
            <p>{{ lastName }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <strong>Adres e-mail</strong>
            <p>{{ email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
