<div class="poster_wrapper">
  <form [formGroup]="addForm" (ngSubmit)="addAdv()" #adForm="ngForm">
    <span class="poster_input_title">Dodaj Ogłoszenie</span>
    <input type="text" class="poster_input_text"
           [ngClass]="{'error-input': error.subject}"
           placeholder="Tytuł ogłoszenia"
           formControlName="title"/><br/>
    <div class="error-messages" *ngIf="error.subject"> &nbsp; {{ error.subject }}</div>
    <select class="poster_select" [ngClass]="{'error-input': error.categoryId}"
            formControlName="category"
            [(ngModel)]="selectedCategory">
      <option selected value="0" disabled>Kategoria</option>
      <option *ngFor="let cat of categoriesList" [value]="cat.categoryId">{{cat.name}}</option>
    </select>
    <div class="error-messages" *ngIf="error.categoryId"> &nbsp; {{ error.categoryId }}</div>
    <div class="poster_textarea_wrapper" [ngClass]="{'error-input': error.content}">
      <textarea class="poster_textarea" placeholder="Opis ogłoszenia" formControlName="description"></textarea>
    </div>
    <div class="error-messages" *ngIf="error.content"> &nbsp; {{ error.content }}</div>
    <select class="poster_select_hours" id="poster_hours_select_input"
            [ngClass]="{'error-input': error.salaryType}"
            formControlName="salaryType" ngModel="nooption">
      <option selected value="nooption" disabled>Wynagrodzenie</option>
      <option value="monthly">Miesięczne</option>
      <option value="hourly">Godzinowe</option>
    </select>
    <input type="text" [ngClass]="{'error-input': error.salaryValue}" class="poster_input_hours"
           id="poster_hours_text_input"
           placeholder="Wielkość wynagrodzenia..."
           formControlName="salary"/><br/>
    <div class="error-messages" *ngIf="error.salaryType"> &nbsp; {{ error.salaryType }} </div>
    <div class="error-messages" *ngIf="error.salaryValue"> &nbsp; {{ error.salaryValue }} </div>
    <button type="submit" class="poster_btn_container" >WYŚLIJ OGŁOSZENIE</button>
  </form>
</div>
