<div class="container">
  <div class="logo_container">
    <img src="../../assets/logo.png" class="logo-img" alt="logo">
  </div>
  <div class="main_container">
    <div class="forms_container">
      <div class="content">

        <div class="" *ngIf="success.messages">
          <p>{{ success.messages.join('. ') }}</p>
        </div>

        <div class="" *ngIf="error.messages">
          <p>{{ error.messages.join('. ') }}</p>
        </div>

        <form (submit)="handleRegister()">
          <div class="info_inputs">
            <input type="text" class="input_form" placeholder="imię" name="firstName" [(ngModel)]="firstName" />
            <div class="" *ngIf="error.firstName"> <!-- TODO: Klasa do wyświetlania błędów -->
              <p>{{ error.firstName.join('. ') }}</p>
            </div>

            <input type="text" class="input_form" placeholder="nazwisko" name="lastName" [(ngModel)]="lastName" />
            <div class="" *ngIf="error.firstName">
              <p>{{ error.lastName.join('. ') }}</p>
            </div>

            <input type="text" class="input_form" placeholder="e-mail" name="email" [(ngModel)]="email" />
            <div class="" *ngIf="error.firstName">
              <p>{{ error.email.join('. ') }}</p>
            </div>

            <input type="password" class="input_form" placeholder="hasło" name="password" [(ngModel)]="password" />
            <div class="" *ngIf="error.firstName">
              <p>{{ error.password.join('. ') }}</p>
            </div>
          </div>
          <div class="btn_container">
            <button class="btn">ZAREJESTRUJ SIĘ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
