<div class="container">
  <h2>Lista dostępów</h2>
  <div class="btn add-btn" [routerLink]="['add']">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span class="add-span">
      Dodaj
    </span>
  </div>
  <router-outlet></router-outlet>
  <table id="ads-list">
    <thead>
    <tr>
      <th scope="col">
        Id
      </th>
      <th scope="col">
        Nazwa dostępu
      </th>
      <th scope="col">
        Edytuj
      </th>
      <th scope="col">
        Usuń
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let permission of permissionArray | paginate: { itemsPerPage: 10, currentPage: p }">
      <td class="ad-id">
        {{ permission.id }}
      </td>
      <td class="user-id">
        {{ permission.name }}
      </td>
      <td class="edit">
        <div class="btn" [routerLink]="[permission.id, 'edit']">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <span class="edit-span">
            Edytuj
          </span>
        </div>
      </td>
      <td class="delete btn-col">

        <div class="btn" (click)="onDelete(permission.id)">
          <i class="fa fa-times" aria-hidden="true">
            <span class="delete-span">
              Usuń
            </span>
          </i>
        </div>
      </td>
    </tr>
    <tr *ngIf="!permissionArray">
      <td colspan="4">
        {{messages}}
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
          *ngIf="permissionArray"
          class="my-pagination"
          (pageChange)="p = $event"
          autoHide="true"
          previousLabel="Poprzednia"
          nextLabel="Następna">
  </pagination-controls>
</div>
