<div class="container">
      <h2>Lista kategorii</h2>
      <div class="add_btn">
        <a routerLink="add">
          <i class="fa fa-plus" aria-hidden="true">
            <span class="delete-span">
              Dodaj kategorie
            </span>
          </i>
        </a>
      </div>
      <router-outlet></router-outlet>
      <table id="ads-list">
        <thead>
        <tr>
          <th scope="col">
            Id
          </th>
          <th scope="col">
            Nazwa
          </th>
          <th scope="col">
            Opis
          </th>
          <th scope="col">
            Edytuj
          </th>
          <th scope="col">
            Usuń
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
          <td class="cat-id">
            {{category.categoryId}}
          </td>
          <td class="cat-name" *ngIf="!category.edited">
            {{category.name}}
          </td>
          <td class="cat-id" *ngIf="category.edited">
            <input [(ngModel)]="category.name" name="name"/>
          </td>
          <td class="cat-description" *ngIf="!category.edited">
            {{category.description}}
          </td>
          <td class="cat-id" *ngIf="category.edited">
            <input [(ngModel)]="category.description" name="description"/>
          </td>
          <td class="edit">
            <div class="btn">
              <a>
                <i class="fa fa-pencil" aria-hidden="true">
                  <span class="delete-span" (click)="handleEdit(category)" *ngIf="!category.edited">
                    Edytuj
                  </span>
                  <span class="delete-span" (click)="editCategory(category)" *ngIf="category.edited">
                    Zatwierdź
                  </span>
                </i>
              </a>
            </div>
          </td>
          <td class="delete">
            <div class="btn">
              <a>
                <i class="fa fa-times" aria-hidden="true">
                      <span class="delete-span" (click)="deleteCategory(category)" *ngIf="!category.edited">
                      Usuń
                      </span>
                  <span class="delete-span" (click)="cancel(category)" *ngIf="category.edited">
                      Anuluj
                      </span>
                </i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
