<div class="container">
	<h2>Lista ogłoszeń</h2>
	<table id="ads-list">
		<thead>
			<tr>
				<th scope="col">
					Id
				</th>
				<th scope="col">
					Id użyt.
				</th>
				<th scope="col">
					Imię i nazwisko
				</th>
				<th scope="col">
					Tytuł
				</th>
				<th scope="col">
					Koszt całkowity
				</th>
				<th scope="col">
					Koszt za h
				</th>
				<th scope="col">
					Data wstawienia
				</th>
				<th scope="col">
					Status
				</th>
				<th scope="col">
					Edytuj
				</th>
				<th scope="col">
					Usuń
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let ad of adsList | paginate: { itemsPerPage: 10, currentPage: p }">
				<td class="ad-id">
					{{ad.id}}
				</td>
				<td class="user-id">
					{{ad.userId}}
				</td>
				<td class="first-name">
					{{ad.userFirstName}} {{ad.userLastName}}
				</td>
				<td class="subject">
					{{ad.subject}}
				</td>
				<td class="cost-total" *ngIf="ad.costTotal">
					{{ad.costTotal}}
				</td>
				<td class="cost-total" *ngIf="!ad.costTotal">
					--
				</td>
				<td class="cost-hour" *ngIf="ad.costHour">
					{{ad.costHour}}
				</td>
				<td class="cost-hour" *ngIf="!ad.costHour">
					--
				</td>
				<td class="date" *ngIf="ad.date">
					{{ad.date.toLocaleDateString()}}
				</td>
				<td class="date" *ngIf="!ad.date">
					--
				</td>
				<td class="status" *ngIf="!ad.edited">
					{{ad.status}}
				</td>
				<td class="status" *ngIf="ad.edited">
					<select [(ngModel)]="newAdStatusNum" name="ad-edit">
						<option [value]="0">Aktywne</option>
						<option [value]="1">Nieaktywne</option>
						<option [value]="2">Zablokowane</option>
					</select>
				</td>
				<td class="edit">
					<div class="btn" *ngIf="!ad.edited" [ngClass]="{'not-allowed': handlingEditing}" (click)="handleEdit(ad)">
						<i class="fa fa-pencil" aria-hidden="true">
							<span class="edit-span">
							  Edytuj
							</span>
						</i>
					</div>
					<div class="btn" *ngIf="ad.edited" (click)="editAdStatus(ad)">
						<i class="fa fa-pencil" aria-hidden="true">
							<span class="edit-span">
							  Zatwierdź
							</span>
						</i>
					</div>
				</td>
				<td class="delete btn-col">
					<div class="btn" *ngIf="!ad.edited" [ngClass]="{'not-allowed': handlingEditing}" (click)="deleteAd(ad)">
						<i class="fa fa-times" aria-hidden="true">
							<span class="delete-span">
							  Usuń
							</span>
						</i>
					</div>
					<div class="btn" *ngIf="ad.edited" (click)="handleCancel(ad)">
						<i class="fa fa-times" aria-hidden="true">
							<span class="delete-span">
							  Anuluj
							</span>
						</i>
					</div>
				</td>
			</tr>
			<tr *ngIf="adsList.length === 0">
				<td colspan="10">
					Brak ogłoszeń do wyświetlenia
				</td>
			</tr>
		</tbody>
	</table>
	<pagination-controls
			class="my-pagination"
			(pageChange)="p = $event"
			autoHide="true"
			previousLabel="Poprzednia"
			nextLabel="Następna">
	</pagination-controls>
</div>