<div class="container">
  <h2>Dodaj dostęp</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
    <div class="inputs">
      <span class="edit-input">
        <input type="text" class="input_form" placeholder="Nazwa" name="name" formControlName="name"/>
      </span>
      <div class="error error-text" [hidden]="addForm.controls['name'].valid ||addForm.controls['name'].pristine">
        Nazwa jest wymagana
      </div>

      <span *ngIf="message"></span>

      <div class="edit-input">
        <br/>
        <input type="submit" value="Dodaj" [disabled]="!addForm.valid" [ngClass]="{'not-allowed': !addForm.valid }"/>
      </div>
    </div>
  </form>
</div>
