<div class="list-short" *ngIf="ad">
  <div class="subject">
    {{ad.subject}}
  </div>
  <div class="info">
    <div class="userName">
      {{ad.userFirstName}}
    </div>
    <div class="ad-data">
      Dodane:
      <span class="ad-date" *ngIf="ad.date">
          {{ad.date.toLocaleDateString()}}
      </span>
      | ID ogłoszenia:
      <span class="ad-id">
          {{ad.id}}
      </span>
      | Status:
      <span class="ad-status">
          {{ad.status}}
      </span>
      | Kategoria:
      <span class="ad-category">
          {{ad.categoryId}}
      </span>
    </div>
    <div class="ad-salary">
      Wynagrodzenie:
      <span class="ad-costTotal" *ngIf="ad.costTotal">
        {{ad.costTotal}} zł
      </span>
      <span class="ad-costHour" *ngIf="ad.costHour">
        | Wynagrodzenie/h: {{ad.costHour}}
      </span>
    </div>
    <div style="font-size: 15px">
      <pre>{{ad.content}}</pre>
    </div>
  </div>
  <div class="btn_container">
    <button class="btn">APLIKUJ</button>
  </div>
</div>