<div class="list-short" *ngIf="ad">
  <div class="subject">
    {{ad.subject}}
  </div>
  <div class="info">
    <div class="userName">
      <p>{{ad.userFirstName}}</p>
    </div>
    <div class="ad-data">
      <p>
        Kategoria:
        <span class="ad-category">
            {{ad.categoryName}}
        </span>
      </p>
    </div>

    <div class="ad-salary">
      <p>
        <span class="ad-costTotal" *ngIf="ad.costTotal">
          Wynagrodzenie: {{ad.costTotal}} zł
        </span>
        <span class="ad-costHour" *ngIf="ad.costHour">
          Stawka za godzinę: {{ad.costHour}} zł
        </span>
      </p>
    </div>

    <div style="font-size: 15px">
      <p>{{ad.content}}</p>
    </div>

    <div class="ad-data pull-right">
      <p>
        Dodane:
        <span class="ad-date" *ngIf="ad.date">
            {{ad.date.toLocaleDateString()}}
        </span>
      </p>
    </div>
  </div>
  <div class="btn_container">
    <button class="btn" *ngIf="ad.status === 'aktywne'">APLIKUJ</button>
  </div>
</div>
