<div class="container">
  <div class="nav">
    <div class="logo">
      <img src="../../assets/logo.png" class="logo-img" alt="img1">
    </div>
    <div class="nav_btns">
      <ul>
        <li class="">
          <a href="#">
            <i class="fa fa-user-o" aria-hidden="true"></i>
            moje konto
          </a>
        </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <div class="footer_nav">
      <ul>
        <li class="">
          <a href="#">
            Regulamin
          </a>
        </li>
        <li class="">
          <a href="#">
            FAQ
          </a>
        </li>
        <li class="">
          <a href="#">
            Polityka prywatności
          </a>
        </li>
        <li class="">
          <a href="#">
            O nas
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
