<div class="container">
  <div class="logo_container">
    <img src="../../assets/logo.png" class="logo-img" alt="logo">
  </div>
  <div class="main_container">
    <div class="forms_container">
      <p class="title">USTAW NOWE HASŁO DLA KONTA</p>

      <div class="tabs_container">
        <ul class='ul'>
          <li><a routerLink="/login">ZALOGUJ SIĘ</a></li>
          <li><a routerLink="/register" >ZAREJESTRUJ SIĘ</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="info" *ngIf="success.messages">
          <p>{{ success.messages.join(' ') }}</p>
        </div>

        <div class="info" *ngIf="error.messages">
          <p>{{ error.messages.join(' ') }}</p>

          <p *ngIf="error.userId">{{ error.userId.join(' ') }}</p>
          <p *ngIf="error.tokenId">{{ error.tokenId.join(' ') }}</p>
          <p *ngIf="error.token">{{ error.token.join(' ') }}</p>
        </div>

        <form (submit)="handleSetNewPassword()">
          <div class="info_inputs">
            <input type="password" class="input_form" placeholder="hasło" name="password" [(ngModel)]="password" />
            <div class="info" *ngIf="error.password">
              <p>{{ error.password.join(' ') }}</p>
            </div>
          </div>

          <div class="btn_container">
            <button class="btn" *ngIf="!handlingSetNewPassword">ZMIEŃ HASŁO</button>
            <button class="btn disabled" *ngIf="handlingSetNewPassword" disabled="true">ZMIEŃ HASŁO ... </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
