<div class="container">
  <div class="nav">
    <div class="logo">
      <a routerLink="../user"><img src="../assets/logo.png" class="logo-img" alt="logo"></a>
    </div>
    <div class="nav_btns">
      <ul>
        <li class="account_btn">
          <a href="#" class="dropbtn"><i class="fa fa-user-o" aria-hidden="true"></i>moje konto</a>
          <div class="account-content">
            <a routerLink="me"><i class="fa fa-cog" aria-hidden="true"></i>moje dane</a>
            <a href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>moje ogłoszenia</a>
            <a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i>wiadomości</a>
            <a routerLink="../logout"><i class="fa fa-power-off" aria-hidden="true"></i>wyloguj się</a>
          </div>
        </li>
        <li class="">
          <a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i>dodaj ogłoszenie </a>
        </li>
        <li class="" *ngIf="isAdminLogged">
          <a routerLink="../admin"><i class="fa fa-users" aria-hidden="true"></i>administrator </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <div class="footer_nav">
      <ul>
        <li class="">
          <a href="#">
            Regulamin
          </a>
        </li>
        <li class="">
          <a href="#">
            FAQ
          </a>
        </li>
        <li class="">
          <a href="#">
            Polityka prywatności
          </a>
        </li>
        <li class="">
          <a href="#">
            O nas
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>