<div class="container">
  <div class="nav">
    <div class="logo">
      <a routerLink=""><img src="../../assets/logo.png" class="logo-img" alt="img1"></a>
    </div>
    <div class="nav_btns">
      <ul>
        <li class="" *ngIf="!isLoggedIn">
          <a routerLink="login"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Logowanie</a>
          <a routerLink="register"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Rejestracja</a>
        </li>

        <li class="dropdown" *ngIf="isLoggedIn">
          <a href="#" class="dropbtn"><i class="fa fa-user-o" aria-hidden="true"></i>{{ userName }}</a>
          <div class="dropdown-content">
            <a routerLink="me"><i class="fa fa-cog" aria-hidden="true"></i>moje dane</a>
            <a routerLink="change-password"><i class="fa fa-cog" aria-hidden="true"></i>zminana hasła</a>
            <a routerLink="logout"><i class="fa fa-power-off" aria-hidden="true"></i>wyloguj się</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
