<div class="search-main">
  <div class="wrapper">
    <div class="search-input">
      <input type="text" name="phrase" id="search-phrase" placeholder="Czego szukasz?" [(ngModel)]="searchQuery">
    </div>
    <div class="search-btn">
      <button class="btn"><i class="fa fa-search" aria-hidden="true"></i>Szukaj</button>
    </div>
  </div>
  <div class="search-filtres">
    <ul>
      <li>
        <a id="nav_category" [ngClass]="{'bold': !salaryViewSelected}"(click)="changeCategoryView()">
          Kategoria
          <hr id="line1" style="border: 1px solid #cccccc">
        </a>
      </li>
      <li>
        <a id="nav_salary" [ngClass]="{'bold': salaryViewSelected}" (click)="changeSalaryView()">
          Wynagrodzenie
          <hr id="line2" style="border: 1px solid #cccccc">
        </a>
      </li>
    </ul>

    <div class="category" *ngIf="!salaryViewSelected">
      <label *ngFor="let cat of categoriesList" class="control control--checkbox checkbox-container">
        {{cat.name}}
        <input type="checkbox" (click)="checkedCategory(cat)"/>
        <div class="control__indicator"></div>
      </label>
    </div>
    <div class="salary" *ngIf="salaryViewSelected">
      <div class="checkbox-salary">
        <label class="control control--checkbox checkbox-container">
          Za godzinę
          <input type="checkbox" (click)="costType = 0" *ngIf="costType != 0"/>
          <input type="checkbox" (click)="costType = 0" checked *ngIf="costType == 0"/>
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox checkbox-container">
          Za projekt
          <input type="checkbox" (click)="costType = 1" *ngIf="costType != 1"/>
          <input type="checkbox" (click)="costType = 1" checked *ngIf="costType == 1"/>
          <div class="control__indicator"></div>
        </label>
      </div>

      <div class="salary_range">
        <div>
          <span *ngIf="!minimumCost">Minimalne</span>
          <span *ngIf="minimumCost">Minimalne: {{ minimumCost }}</span>
        </div>
        <input type="range" name="range-min" min="{{salaryRangeMin}}" max="{{salaryRangeMax}}" [(ngModel)]="minimumCost"/>
        <span id="range-min"></span>
      </div>
      <div class="salary_range">
        <div>
          <span *ngIf="!maximumCost">Maksymalne</span>
          <span *ngIf="maximumCost">Maksymalne: {{ maximumCost }}</span>
        </div>
        <input type="range" name="range-max" min="0" max="100000" [(ngModel)]="maximumCost"/>
        <span id="range-max"></span>
      </div>
    </div>
  </div>
</div>
<div class="list-wrapper">
  <div class="title">
    Ogłoszenia
  </div>
  <div class="list_container">

    <div class="list-short" *ngFor="let ad of (adsList | filterByCategory: selectedCategories | search: searchQuery | costFilter:costType:minimumCost:maximumCost ) | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="header">
        <a routerLink="../ad/{{ad.id}}/show">
          {{ad.subject}}
        </a>
      </div>
      <div class="info">
        <div class="author-name">
          {{ad.userFirstName}}
        </div>
        <div class="date">
          Dodane
          <span class="add-date">
              {{formatDate(ad.date)}}
          </span>
        </div>
      </div>
    </div>

    <pagination-controls
            class="my-pagination"
            (pageChange)="p = $event"
            autoHide="true"
            previousLabel="Poprzednia"
            nextLabel="Następna"
    ></pagination-controls>
  </div>
</div>
