<div class="container">
  <h2>Lista dostępnych akcji</h2>
  <table id="ads-list">
    <thead>
    <tr>
      <th scope="col">
        Id
      </th>
      <th scope="col">
        Nazwa
      </th>
      <th scope="col">
        Opis
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let action of actionsList | paginate: { itemsPerPage: 10, currentPage: p }">
      <td class="action-id">
        {{action.id}}
      </td>
      <td class="action-name">
        {{action.name}}
      </td>
      <td class="action-desc">
        {{action.description}}
      </td>
    </tr>
    <tr *ngIf="!actionsList">
      <td colspan="3">
        {{messages}}
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls
          *ngIf="actionsList"
          class="my-pagination"
          (pageChange)="p = $event"
          autoHide="true"
          previousLabel="Poprzednia"
          nextLabel="Następna">
  </pagination-controls>
</div>