/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
}

.simple-notification.alert {
    background: #FFB128 !important;
}

.simple-notification.alert .sn-progress-loader span {
    background: #FF9128 !important;
}