<div class="container">
    <h2>Dodaj administratora</h2>

    <form (ngSubmit)="onSubmit()" #addForm="ngForm">
        <div class="inputs">

            <span class="cat-input">
                <input type="text" placeholder="Podaj UserID" name="userId"
                        required
                        [(ngModel)]="admin.userId"
                        #userId="ngModel"/>
            </span>
            <div class="error" [hidden]="userId.valid || userId.pristine">
                UserId jest wymagane.
            </div>
            <span class="cat-input"  >
                <select [(ngModel)]="admin.permissionId" name="permissionId" required>
                    <option *ngFor="let perm of permissionArray" [ngValue]="perm.id" >{{perm.name}}</option>
                </select>
            </span>

            <span *ngIf="message"> {{message}}</span>
            <span class="cat-input">
                <input type="submit" [disabled]="!addForm.form.valid" [ngClass]="{'not-allowed': !addForm.form.valid }" value="Dodaj"/>
            </span>

        </div>
    </form>
</div>