<div class="container">
  <div class="logo_container">
    <img src="../../assets/logo.png" class="logo-img" alt="logo">
  </div>
  <div class="main_container">
    <div class="forms_container">
      <div class="tabs_container">
        <ul class='ul'>
          <li class="active"><a routerLink="../login">ZALOGUJ SIĘ</a></li>
          <li><a routerLink="../register" >ZAREJESTRUJ SIĘ</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="info" *ngIf="error.messages">
          <p>{{ error.messages.join(' ') }}</p>
        </div>

        <form (submit)="handleLogin()">
          <div class="info_inputs">
            <input type="text" class="input_form" placeholder="e-mail" name="email" [(ngModel)]="email" />
            <input type="password" class="input_form" placeholder="hasło" name="password" [(ngModel)]="password" />
          </div>

          <div class="btn_container">
            <button class="btn" *ngIf="!handlingLogin">ZALOGUJ SIĘ</button>
            <button class="btn disabled" *ngIf="handlingLogin" disabled="true">LOGOWANIE ... </button>
          </div>
        </form>

        <div class="forgot_pass"><a href="#" class="link_forgot_pass">Zapomniałeś hasła?</a></div>

        <pre>
          Administrator
          Email: admin1@localhost.com
          Hasło: qwerty
        </pre>

        <pre>
          Użytkownik
          Email: user1@localhost.com
          Hasło: qwerty
        </pre>

      </div>
    </div>
  </div>
</div>
